# Terraform - Secrets & State
terraform/secrets.auto.tfvars
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform/
terraform/.terraform.lock.hcl

# Packer - Secrets
packer/*.pkrvars.hcl
packer/packer_cache/
__pycache__/
*.pyc

# Editor/IDE
.vscode/
.idea/

# OS
.DS_Store

# Ansible
*.retry

# Python (lokale venvs, falls für Checkov-Checks genutzt)
venv/
.venv/

# Dateien
pipeline-explained
